@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
font-family: Roboto, sans-serif;
margin: 0px;
height: 100vh;
}
/*main-end*/

/*header-start*/
/* Notes
Add a max-width to the header bottom*/
.header-sec {
    background-color: #1F2937;
    color: #F9FAF8;

}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-top {
    display: flex;
    padding: 16px 150px 0px 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
}


.header-bottom {
    display: flex;
    justify-content: center;
    padding: 100px 150px 100px 150px;
    gap: 24px;
}

.header-des {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.head-text {
    color: #F9FAF8;
    font-size: 48px;
}

.head-des {
    font-size: 18px;
    color: #E5E7EB;
}

.head-img {
    flex: 1;
    background-color: #6d6e70;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 6px 24px;
}

.sign-up{
    align-self: flex-start;
    border-style: none;
}
/*header-end*/

/*info-start*/
.info-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 150px 100px 150px;
    gap: 26px;
}

.info-header{
   font-size: 36px; 
   font-weight: bold;
   color:#1F2937;
}

.info-des{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.info-pac {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    max-width: 170px;
    gap: 10px;
}

.info-des img{
    width: 155px;
    height: 155px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
}

.infotext{
    font-size: 15px;
    color: #1F2937;
}
/*info-end*/

/*quote-start*/
.quote-sec{
  background-color: #E5E7EB;
  padding: 100px 150px 100px 150px;
}

.quote-sec{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.quote-main{
    max-width: 47em;
}

.quote-text{
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
}

.quote-name{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5em;
}
/*quote-end*/

/*moodle-start*/
.moodle-sec {
    display: flex;
    padding: 100px 0px 100px 0px;
    justify-content: center;
}

.moodle {
    background-color: #3882f6;
    padding: 45px 120px 45px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 100px;
}

.moodle-text {
    color: #E5E7EB
}

.moodle-header {
    font-size: 18px;
    font-weight: bold;
}

.moodle-button {
    border-color: #E5E7EB;
    border-style: solid;
}
/*moodle-end*/

/*footer-start*/
.footer-sec {
    background-color:#1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}